@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input, select, textarea, button,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  border: 0;
}

:focus {
  outline: 0;
}

.clear {
  clear: both;
}

body {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'Roboto', sans-serif;
}

body header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4px 8px;
  border-bottom: 1px solid #ea1b2d;
}

body header .logo a img {
  width: 58px;
}

body header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header nav ul li a {
  font-size: 18px;
  padding: 8px;
  color: #ea1b2d;
  -webkit-transition: 300ms all ease-in-out;
  transition: 300ms all ease-in-out;
}

body header nav ul li a:hover {
  color: #dc1426;
}

body header .registration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header .registration a {
  padding: 8px 16px;
  border: 1px solid #ea1b2d;
}

body header .registration a:not(:last-child) {
  margin-right: 8px;
}

body header .registration a:first-child {
  color: #ea1b2d;
}

body header .registration a:last-child {
  color: #fff;
  background: #ea1b2d;
}

body main {
  padding: 16px;
}

body main.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main.home form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main.home form .pick-up, body main.home form .take-off {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main.home form .pick-up:not(:last-child), body main.home form .take-off:not(:last-child) {
  margin-bottom: 16px;
}

body main.home form .pick-up label:not(:last-child), body main.home form .take-off label:not(:last-child) {
  margin-right: 32px;
}

body main.home form .pick-up label h6, body main.home form .take-off label h6 {
  font-size: 20px;
  font-weight: bold;
  color: #ea1b2d;
  margin-bottom: 4px;
}

body main.home form .pick-up label input, body main.home form .pick-up label select, body main.home form .take-off label input, body main.home form .take-off label select {
  border: 1px solid #ea1b2d;
  border-radius: 4px;
  padding: 4px 8px;
}

body main.home form button {
  padding: 8px 16px;
  font-size: 18px;
  border-radius: 4px;
  color: #fff;
  background: #ea1b2d;
  cursor: pointer;
}

body footer {
  width: 100%;
}

body footer .black-box {
  background: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 32px 64px;
}

body footer .black-box .socials, body footer .black-box .sponsorships {
  width: 50%;
  text-align: center;
}

body footer .black-box .socials h4, body footer .black-box .sponsorships h4 {
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  color: #fff;
}

body footer .black-box .socials div, body footer .black-box .sponsorships div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 8px;
}

body footer .black-box .socials div a, body footer .black-box .sponsorships div a {
  color: #fff;
}

body footer .black-box .socials div a:not(:last-child), body footer .black-box .sponsorships div a:not(:last-child) {
  margin-right: 48px;
}

body footer .black-box .socials div a i, body footer .black-box .sponsorships div a i {
  font-size: 24px;
}

body footer .black-box .socials div img, body footer .black-box .sponsorships div img {
  width: 100px;
}

body footer .black-box .socials div img:not(:last-child), body footer .black-box .sponsorships div img:not(:last-child) {
  margin-right: 48px;
}

body footer .foot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body footer .foot p {
  font-size: 1.2em;
}
/*# sourceMappingURL=style.css.map */